#mainbody {
    position: relative;
    z-index:1;
    overflow:hidden; /*if you want to crop the image*/
}
#mainbody:before{
    z-index:-1;
    position:fixed;
    object-fit: cover;
    object-position: center;
    left:0;
    top:0;
    content: url('../assets/bg.png');
    opacity:0.4;
}

h3{
    font-family: Arial;
    font-size: 14;
}